@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

/* Utilities */

body {
  /* font-family: "AlethiaPro-Regular"; */
  color: #000;
  background-color: #fff;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* translate button */
#trp-floater-ls {
  left: auto;
  right: 0;
}

#trp-floater-ls a {
  font-size: 12px;
}

#trp-floater-ls.trp-top-right {
  right: 5px;
}

h1,
h1#n2-ss-13item1,
h2,
h3,
h4,
h5 {
  font-family: "AlethiaPro-Regular" !important;
  text-transform: uppercase;
}

p,
a {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

a:hover {
  color: #50a083;
}

ul li.current a {
  color: #50a083;
}

ul {
  padding: 0;
}

a small.read-more {
  color: #000;
}

a small.read-more span {
  color: #50a083;
}

.wp-block-button {
  margin-top: 10px;
}

.wp-block-image img {
  width: 100%;
  height: 100%;
  object-position: center;
  margin: 0 auto;
}

.btn {
  border-radius: 0;
  margin: 30px 20px 20px;
  padding: 15px 20px;
}

.btn-dark {
  color: #fff !important;
  background-color: #101010;
  border: none;
}

.btn-dark:hover {
  background-color: #50a083;
}

.btn-dark a {
  color: #fff !important;
}

.bg-dark {
  background-color: #000 !important;
  color: #fff;
}
.bg-light {
  background-color: #fff !important;
  color: #000;
}
.bg-primary {
  background-color: #50a083 !important;
  color: #fff;
}

.dark {
  background-color: #000;
}
.light {
  background-color: #fff;
}

.pd-1 {
  padding: 20px;
}
.pd-2 {
  padding: 40px;
}

.hero {
  margin-top: 94px;
}

/* Filter Section */
.filter ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px auto 30px;
}

.filter ul li {
  list-style: none;
  margin: 20px;
}

.filter a {
  font-size: 20px;
  color: #000;
}

.filter a:hover {
  color: #50a083;
}

.filter .line {
  background-color: #000;
  height: 45px;
  width: 1px;
}

/* Card */

.col-12,
.col-6 {
  overflow: hidden;
}

.col-4 {
  padding: 0 5px;
}

.card-title {
  color: #50a083;
  text-transform: uppercase;
}

.card {
  overflow: hidden;
  border: 0;
  border-radius: 0;
  margin: 10px;
}

.card-img {
  max-height: 400px;
  max-width: 400px;
  overflow: hidden;
}

.card-img img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

/* Navbar */
header {
  background-color: #000;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 7px;
}

.main-nav nav.row {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.main-nav ul.nav {
  display: flex;
  padding: 5px;
  width: 100%;
  list-style: none;
}

.main-nav ul.nav li {
  padding: 10px;
}

.main-nav nav .logo {
  overflow: hidden;
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: 0 auto;
}

.main-nav nav .logo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.nav-responsive {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 5px;
}

.nav-responsive .navbar-toggler:focus {
  box-shadow: none;
}

.nav-responsive h2 {
  margin-bottom: 5px;
}

.nav-responsive ul li {
  list-style: none;
  padding: 5px;
}

.nav-responsive .navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

.nav-responsive .logo-small {
  overflow: hidden;
  width: 70px;
  height: 70px;
  padding: 5px;
  position: static;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.nav-responsive .logo-small img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.head-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.head-title h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin: 20px auto;
}

.head-title div {
  height: 3px;
  width: 100px;
}

/* footer */

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
}

footer h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
}

.footer-menu ul {
  text-align: center;
}

.footer-menu ul li {
  list-style: none;
  text-transform: uppercase;
  line-height: 2.5em;
}

.footer-logo {
  overflow: hidden;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 0;
}

.footer-logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social-media a {
  font-size: 35px;
  margin: 12px;
}

.social-media p {
  text-transform: uppercase;
  margin: auto 12px;
}

.social-media .line {
  background-color: #fff;
  height: 45px;
  width: 2px;
}

.footer-social div {
  text-align: end;
}

/* javascript */
.box {
  opacity: 0;
  transition: opacity 1s ease;
}

.box.show {
  opacity: 1;
}

/* home-page or main page */

.main-product {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 30px 10px;
  position: relative;
  text-align: center;
}

.main-product .product-left,
.main-product .product-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-product .product-left h4 {
  position: absolute;
  top: 40%;
  left: -90px;
  transform: rotate(-90deg);
  letter-spacing: 2px;
  font-size: 28px;
}

.main-product .product-right h4 {
  position: absolute;
  top: 40%;
  right: -90px;
  transform: rotate(90deg);
  letter-spacing: 2px;
  font-size: 28px;
}

.main-product .product-img {
  width: 450px;
  height: 450px;
  margin: 20px auto;
  overflow: hidden;
}

.main-product .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-latestnews {
  background: linear-gradient(to bottom, #101010 50%, #000000 50%, white 50%);
  color: #000;
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-latestnews .head-title h2 {
  color: #fff;
}

/* About page */
.about {
  overflow: hidden;
}

.about-section .about-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
  padding: 1px;
}

.about-section .about-section-img .widget-wrapper img {
  object-fit: cover;
  flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
  object-position: center;
}

.about-section .content {
  padding: 40px;
}

.end-line {
  height: 2px;
  width: 15%;
  margin: 30px auto;
}

.about-cafe-container {
  padding: 50px;
}
.head-cafe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.head-cafe h4 {
  text-transform: uppercase;
  font-size: 30px;
  color: #50a083;
  text-align: center;
  padding: 10px;
}

.head-cafe .about-cafe-img {
  width: 70%;
  margin: 0 auto;
}

.head-cafe .left {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: rotate(-90deg);
}

.head-cafe .right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: rotate(90deg);
}

.about-cafe-container .content .textwidget {
  width: 100%;
}

/* News page */

.news {
  padding: 20px;
}

.page-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  width: 100%;
}

.page-button .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-button a {
  color: #000;
  font-size: 20px;
  margin: 0 20px;
}

.page-button span.page-numbers.current {
  color: #fff;
  background-color: #50a083;
  padding: 5px 12px;
  border-radius: 50%;
}

/* News single page*/

.single-news {
  margin-top: 100px;
}

.single-news a {
  color: #000;
}

.single-news a:hover {
  color: #50a083;
}

.single-news .card-post {
  padding: 10px;
}

.single-news .single-news-img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.single-news .single-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Product page */

.products .col-6 {
  padding: 0;
}

.card-product {
  position: relative;
  max-height: 420px;
  max-width: 420px;
  overflow: hidden;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-product:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text a:hover {
  color: #fff;
}

/* Ending products page text section */

.ending-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
}

.ending-text p {
  font-size: 34px;
  text-transform: uppercase;
  margin: 10px 15px;
}

.ending-text div {
  background-color: #000;
  width: 30%;
  height: 3px;
}

/* Product single page */
/* Tag page */

.tag-hero {
  position: relative;
  width: 100%;
  height: 400px;
}

.tag-header {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-header h1 {
  font-size: 70px;
  letter-spacing: 3px;
  color: white;
}

.single-product-page,
.tag-page {
  overflow: hidden;
  padding: 0px 1px;
}

.single-product-page a,
.tag-page a {
  color: #000;
}

.single-product-page a:hover,
.tag-page a:hover {
  color: #50a083;
}

.wp-block-button a.wp-block-button__link:hover {
  color: #fff;
}
.single-product {
  height: 700px;
  margin-bottom: 70px;
}

.tag-product {
  height: 700px;
  margin: 1px;
}

.single-product .content,
.tag-product .content {
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
}

.content-section {
  width: 100%;
  margin-top: 30px;
}

main.tag-page section.tag-product:nth-child(even) div.row {
  display: flex;
  flex-direction: row-reverse;
}

.single-product .single-product-img,
.tag-product .tag-product-img {
  overflow: hidden;
  max-height: 700px;
  width: 50%;
  padding: 1px;
}

.single-product .single-product-img img,
.tag-product .tag-product-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

/* super market logo */

.market {
  margin: 50px 2px;
}

.market .head-title h2 {
  font-size: 34px;
}

.market-logo-thumbnail {
  padding: 10px 50px;
}

#gallery-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#gallery-1 .gallery-item {
  max-height: 200px;
  max-width: 200px;
  margin: 20px auto;
}

#gallery-1 img {
  border: none !important;
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
  object-position: center;
}

/* Contact page */
main.contact section:nth-child(odd) {
  color: #000 !important;
  background-color: #fff !important;
}

main.contact section:nth-child(odd) a {
  color: #000;
}

main.contact section:nth-child(even) {
  color: #fff !important;
  background-color: #101010 !important;
}
.contact-section {
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.contact-container p {
  text-align: center;
}

.contact-container h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 40px auto;
}

.contact-container .card {
  overflow: hidden;
  margin: 0;
}

.contact-container .col-sm-4 {
  padding: 8px;
}

.contact-container .card-img {
  height: 300px;
  width: 100%;
  margin: 5px auto;
}

.contact-container .card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/************************* media  queries ********************************/

@media (max-width: 1200px) {
  .nav-responsive {
    display: block;
  }
  .main-nav {
    display: none;
  }

  .nav-responsive .logo-small {
    position: static;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* ipad pro */
@media (max-width: 1024px) {
  .nav-responsive {
    display: block;
  }

  .nav-responsive .logo-small {
    /* margin: 0 460px 0 auto; */
    margin: 0 auto;
  }
  .main-nav {
    display: none;
  }
  .footer-menu {
    display: none;
  }

  footer h1 {
    font-size: 30px;
  }

  .footer-social {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .card {
    margin: 5px;
  }

  .col-6,
  .col-12,
  .col-4 {
    padding: 0 5px;
  }

  .card-img,
  .card-product {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .card-img img,
  .card-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero {
    margin-top: 95px;
  }

  .head-title {
    padding-bottom: 10px;
  }

  .page-button {
    margin: 50px auto 20px;
  }

  .filter a {
    font-size: 18px;
  }

  /* home-page */
  .main-product {
    padding: 20px 10px;
  }

  .main-product .product-left h4 {
    left: -70px;
    font-size: 20px;
  }
  .main-product .product-right h4 {
    right: -70px;
    font-size: 20px;
  }

  .main-product .product-img {
    width: 380px;
    height: 380px;
  }

  .main-latestnews {
    padding: 10px;
  }

  .main-latestnews .container {
    margin: 0;
  }

  .main-latestnews .col-12 {
    height: 600px;
    padding: 0;
  }

  .main-latestnews .card-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
  }

  .main-latestnews .card-img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  /* about-page */

  .about-section .about-section-img {
    padding: 1px;
  }

  .head-cafe .about-cafe-img {
    width: 80%;
    margin: 0 auto;
  }

  .head-cafe .left {
    left: -80px;
    top: 40%;
  }

  .head-cafe .right {
    right: -90px;
    top: 40%;
  }

  /* products-page */
  .ending-text {
    margin: 5px auto;
  }

  .ending-text p {
    font-size: 30px;
  }

  .page-button {
    margin: 50px auto 20px;
  }

  /* product single page & tag-page */
  .tag-hero {
    width: 100%;
    height: 340px;
  }

  .tag-header {
    width: 100%;
    text-align: center;
  }

  .tag-header h1 {
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
  }

  .single-product .content,
  .tag-product .content {
    padding: 20px 40px;
  }

  .content-section {
    margin-top: 10px;
  }

  .single-product {
    height: 600px;
    margin-bottom: 50px;
  }

  .single-product-page h1,
  .tag-page h1 {
    font-size: 30px;
  }

  .tag-product {
    height: 600px;
    margin: 2px;
  }

  .single-product .single-product-img,
  .tag-product .tag-product-img {
    max-width: 100%;
    height: 600px;
  }

  .single-product .single-product-img img,
  .tag-product .tag-product-img img {
    width: 100%;
    height: 100%px;
    object-fit: cover;
    object-position: 50% 100%;
  }

  /* super market logo */

  .market .head-title h2 {
    font-size: 35px;
  }

  #gallery-1 .gallery-item {
    max-height: 130px;
    max-width: 130px;
  }

  #gallery-1 img {
    border: none !important;
    max-height: 130px;
    max-width: 130px;
  }

  /* contact-page */
  .contact-container h4 {
    margin: 10px auto;
  }
  .contact-container .row {
    margin: 5px 0;
  }
  .contact-container .col-sm-4 {
    padding: 5px 1px;
  }

  .contact-container .card-img {
    margin: 5px;
    width: 310px;
    height: 310px;
  }

  .contact-container .content {
    padding: 50px 30px;
  }
}

/* ipad */

@media (max-width: 768px) {
  .nav-responsive {
    display: block;
  }

  .nav-responsive .logo-small {
    /* margin: 0 332px 0 auto; */

    margin: 0 auto;
  }
  .main-nav {
    display: none;
  }
  .footer-menu {
    display: none;
  }

  .hero {
    margin-top: 95px;
  }

  .btn {
    margin: 20px;
  }

  .col-12 {
    padding: 0px;
  }

  .card {
    margin: 10px;
  }

  .card-img,
  .card-product {
    width: 100%;
    height: 340px;
    overflow: hidden;
  }

  .card-img img,
  .card-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .head-title h2 {
    font-size: 28px;
    margin: 15px auto;
  }

  .filter a {
    font-size: 20px;
  }

  .page-button {
    margin: 30px auto;
  }

  /* home-page */

  .main-product .product-left h4 {
    left: -40px;
    font-size: 24px;
  }

  .main-product .product-right h4 {
    right: -40px;
    font-size: 24px;
  }

  .main-product .product-img {
    width: 500px;
    height: 500px;
  }

  .main-latestnews .col-12 {
    height: 340px;
  }

  .main-latestnews .card {
    display: flex;
    flex-direction: row;
  }

  .main-latestnews .card-img {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .main-latestnews .card-body {
    width: 50%;
    height: 100%;
  }

  .main-latestnews .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* about-page */

  .about-section .content {
    height: 100%;
    padding: 80px 30px 20px;
  }

  .end-line {
    width: 10%;
  }

  .about-cafe-container {
    padding: 50px 20px 30px;
  }

  .head-cafe h4 {
    font-size: 25px;
  }

  .head-cafe .left {
    left: -70px;
    top: 40%;
  }

  .head-cafe .right {
    right: -80px;
    top: 40%;
  }

  .about-cafe-container .content {
    padding: 30px;
  }

  /* products-page */

  .ending-text {
    margin: 20px auto;
  }

  .ending-text p {
    font-size: 25px;
  }

  .ending-text div {
    width: 15%;
  }

  .text {
    font-size: 22px;
  }

  /* single-product-page and tag page */
  .tag-hero {
    width: 100%;
    height: 256px;
  }

  .tag-header h1 {
    font-size: 40px;
    letter-spacing: 3px;
    color: white;
  }
  .single-product,
  .tag-product {
    height: 100%;
  }

  .tag-product {
    margin-bottom: 30px;
  }
  .single-product .single-product-img,
  .tag-product .tag-product-img {
    padding: 30px 60px 30px;
    width: 100%;
    height: 600px;
  }

  .single-product .single-product-img img,
  .tag-product .tag-product-img img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .single-product .content,
  .tag-product .content {
    padding: 20px 50px;
    height: 100%;
  }

  .market {
    margin: 40px 2px;
  }

  .market-logo-thumbnail {
    padding: 10px 20px;
  }

  #gallery-1 .gallery-item {
    max-height: 100px;
    max-width: 100px;
    margin: 10px auto;
  }

  #gallery-1 img {
    border: none !important;
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
  }

  .single-news .single-news-img {
    width: 100%;
    max-height: 100%;
  }

  .single-news .single-news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* contact-page */

  .contact-container .row {
    margin: 0;
  }

  .contact-container .col-sm-4 {
    padding: 5px;
    overflow: hidden;
  }

  .contact-container .card-img {
    width: 230px;
    height: 230px;
    margin: 5px auto;
  }

  .contact-container .card-img img {
    width: 100%;
    height: 100%;
  }

  .contact-container h4 {
    margin: 20px auto;
  }

  .contact-container .content {
    padding: 40px;
  }
}

/* iphone 428px*/

@media (max-width: 428px) {
  .nav-responsive h2.text-white {
    display: none;
  }

  footer {
    padding: 20px;
  }
  footer h1 {
    font-size: 25px;
  }

  .footer-logo {
    overflow: hidden;
    width: 70px;
    height: 70px;
  }

  .footer-logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-social .group {
    margin: 0 auto;
  }

  .nav-responsive .logo-small {
    /* margin: 0 167px 0 auto; */

    margin: 0 auto;
  }

  .head-title h2 {
    font-size: 26px;
  }

  .head-title div {
    height: 2px;
    width: 80px;
  }

  .filter ul li {
    margin: 5px;
  }

  .filter .line {
    height: 30px;
  }

  .filter a {
    font-size: 15px;
  }

  .products .filter a {
    font-size: 12px;
  }

  /* home-page */

  .main-product .product-img {
    width: 300px;
    height: 300px;
  }

  .main-product .product-left h4 {
    left: -60px;
    font-size: 20px;
  }

  .main-product .product-right h4 {
    right: -60px;
    font-size: 20px;
  }

  .main-latestnews .col-12 {
    height: 600px;
  }
  .main-latestnews .card {
    display: flex;
    flex-direction: column;
  }

  .main-latestnews .card-body {
    width: 100%;
    height: 100%;
  }

  .main-latestnews .card-img {
    width: 100%;
    min-height: 350px;
  }
  .main-latestnews .card-img img {
    width: 100%;
    height: 100%;
  }

  /* about-page */

  .head-cafe .about-cafe-img {
    width: 100%;
    margin: 50px 0;
  }

  .head-cafe {
    position: relative;
  }

  .head-cafe .left {
    top: 0px;
    left: 0;
    transform: rotate(0deg);
  }

  .head-cafe .right {
    position: absolute;
    transform: rotate(0deg);
    top: 520px;
    right: 0px;
  }

  .about-cafe-container .content {
    padding: 10px;
  }

  /* products-page */

  .products .col-6 {
    overflow: hidden;
    padding: 0;
  }

  .products .card {
    margin: 10px;
    width: 195px;
    max-height: 195px;
  }

  .products .card-product {
    width: 195px;
    height: 195px;
    overflow: hidden;
  }

  .products .card-product img {
    width: 100%;
    height: 100%;
    object-position: center;
  }

  .ending-text {
    margin: 0;
    padding: 10px;
  }

  .ending-text p {
    font-size: 16px;
  }

  .ending-text div {
    width: 10%;
    height: 2px;
  }

  .text {
    font-size: 14px;
  }

  .page-button a {
    font-size: 15px;
    margin: 0 15px;
  }

  /* single-product-page and tag page */
  .tag-hero {
    width: 100%;
    height: 198px;
  }
  .tag-header {
    text-align: center;
    width: 100%;
  }
  .tag-product {
    margin-bottom: 10px;
  }
  .tag-header h1 {
    font-size: 28px;
    width: 100%;
  }
  .single-product-page h1,
  .tag-page h1 {
    font-size: 22px;
  }

  .single-product .single-product-img,
  .tag-product .tag-product-img {
    padding: 30px;
    width: 100%;
    height: 340px;
  }

  .single-product .single-product-img img,
  .tag-product .tag-product-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .single-product .content,
  .tag-product .content {
    padding: 20px 40px;
    height: 100%;
  }

  .wp-block-button__link {
    padding: 12px 15px;
  }

  .market {
    margin: 20px 2px;
  }

  .market .head-title h2 {
    font-size: 18px;
  }

  #gallery-1 .gallery-item {
    max-height: 55px;
    max-width: 55px;
    margin: 5px auto;
  }

  #gallery-1 img {
    border: none !important;
    max-height: 55px;
    max-width: 55px;
    object-fit: contain;
  }

  /* news */

  .card-img img {
    width: 100%;
    height: 100%;
    object-position: center;
  }

  /* news single page */

  .single-news .single-news-img {
    width: 100%;
    height: 100%;
  }

  .single-news .single-news-img img {
    width: 100%;
    height: 100%;
    object-position: center;
  }

  /* contact-page */

  .contact-section {
    padding: 10px;
  }

  .contact-container .content {
    padding: 20px;
  }

  .contact-container .col-sm-4 {
    padding: 5px;
    overflow: hidden;
  }

  .contact-container .card-img {
    width: 100%;
    height: 375px;
    margin: 5px auto;
  }

  .contact-container .card-img img {
    width: 100%;
    max-height: 375px;
  }
}

@media (max-width: 414px) {
  .products .card {
    margin: 6px;
  }
}

/* phone */
@media (max-width: 375px) {
  .nav-responsive h2.text-white {
    display: none;
  }

  footer {
    padding: 20px;
  }
  footer h1 {
    font-size: 22px;
  }

  .footer-logo {
    overflow: hidden;
    width: 70px;
    height: 70px;
  }

  .footer-logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-social .group {
    margin: 0 auto;
  }

  .nav-responsive .logo-small {
    /* margin: 0 146px 0 auto; */

    margin: 0 auto;
  }

  .social-media a {
    font-size: 25px;
    margin: 8px;
  }

  .btn {
    font-size: 12px;
    padding: 10px 15px;
  }

  .hero {
    margin-top: 95px;
  }

  .head-title h2 {
    font-size: 25px;
    margin: 10px auto;
  }

  .head-title div {
    width: 70px;
    height: 2px;
  }

  /* home-page */

  .main-product .product-img {
    width: 300px;
    height: 300px;
  }

  .main-product .product-left h4 {
    left: -78px;
    font-size: 20px;
  }

  .main-product .product-right h4 {
    right: -78px;
    font-size: 20px;
  }

  .main-latestnews .col-12 {
    height: 600px;
  }
  .main-latestnews .card {
    display: flex;
    flex-direction: column;
  }

  .main-latestnews .card-body {
    width: 100%;
    height: 100%;
  }

  .main-latestnews .card-img {
    width: 100%;
    height: 100%;
  }
  .main-latestnews .card-img img {
    width: 100%;
    height: 100%;
  }

  .filter ul li {
    margin: 5px;
  }

  .filter .line {
    height: 30px;
  }

  .filter a {
    font-size: 12px;
  }

  .products .filter a {
    font-size: 10px;
  }

  /* about-page */
  .pd-2 {
    padding: 20px;
  }

  .end-line {
    margin: 15px auto;
    width: 20%;
  }

  .about-section .content {
    padding: 25px 30px 15px;
  }

  .about-cafe-container {
    padding: 30px 10px 20px;
  }

  .head-cafe .about-cafe-img {
    width: 100%;
    margin: 50px 0;
  }

  .head-cafe {
    position: relative;
  }

  .head-cafe .left {
    top: 0px;
    left: 0;
    transform: rotate(0deg);
  }

  .head-cafe .right {
    position: absolute;
    transform: rotate(0deg);
    top: 520px;
    right: 0px;
  }

  .about-cafe-container .content {
    padding: 10px;
  }

  /* products-page */

  .products .col-6 {
    overflow: hidden;
    padding: 0;
  }
  .products .card {
    margin: 7px auto;
    width: 175px;
    max-height: 175px;
  }

  .products .card-product {
    width: 175px;
    height: 175px;
    overflow: hidden;
  }

  .products .card-product img {
    width: 100%;
    height: 100%;
  }

  .ending-text {
    margin: 0;
    padding: 10px;
  }

  .ending-text p {
    font-size: 16px;
  }

  .ending-text div {
    width: 10%;
    height: 2px;
  }

  .text {
    font-size: 16px;
  }

  .page-button a {
    font-size: 15px;
    margin: 0 15px;
  }

  /* single-product-page and tag page */
  .tag-hero {
    width: 100%;
    height: 198px;
  }
  .tag-header {
    text-align: center;
    width: 100%;
  }
  .tag-product {
    margin-bottom: 10px;
  }
  .tag-header h1 {
    font-size: 20px;
    width: 100%;
  }
  .single-product-page h1,
  .tag-page h1 {
    font-size: 22px;
  }

  .single-product .single-product-img,
  .tag-product .tag-product-img {
    padding: 20px 40px;
    width: 100%;
    height: 340px;
  }

  .single-product .single-product-img img,
  .tag-product .tag-product-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .single-product .content,
  .tag-product .content {
    padding: 20px 40px;
    height: 100%;
  }

  .market {
    margin: 20px 2px;
  }

  .market .head-title h2 {
    font-size: 18px;
  }

  #gallery-1 .gallery-item {
    max-height: 55px;
    max-width: 55px;
    margin: 5px auto;
  }

  #gallery-1 img {
    border: none !important;
    max-height: 55px;
    max-width: 55px;
    object-fit: contain;
  }

  /* News */

  .news {
    padding: 10px 5px;
  }

  /* contact-page */

  .contact-section {
    padding: 10px;
  }

  .contact-container .content {
    padding: 20px;
  }

  .contact-container .col-sm-4 {
    padding: 5px;
    overflow: hidden;
  }

  .contact-container .card-img {
    width: 345px;
    height: 310px;
    margin: 5px auto;
  }

  .contact-container .card-img img {
    width: 100%;
    height: 100%;
  }

  /* news single page */

  .single-news .single-news-img {
    width: 100%;
    height: 100%;
  }

  .single-news .single-news-img img {
    width: 100%;
    height: 100%;
  }
}
